log/
solr/data/
tmp/pids/
tmp/*.csv
tmp/*.xls
tmp/*.xlsx
tmp/reports/
tmp/attachment_fu/
.idea/
.rvmrc
.ruby-gemset
.ruby-version
*.sql
*.sql.gz
*.sql.bz2
*.rdb
*.sublime-project
*.sublime-workspace
*~
*.orig
bin/
